* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, crimson, red, orange);
  }
  .login-welcome {
    text-align: center;
    margin-bottom: 16px;
  }
  .my-form {
    display: flex;
    flex-direction: column;
    
    background-color: #fff;
    max-width: 30rem;
    padding: 48px 40px;
    border-radius: 24px;
    width: 100%;
    gap: 16px;
  }
  .my-form .login-welcome h1{
    font-size: 30px;
    color: crimson;
  }
  .my-form-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    min-height: 50px;
    width: 100%;
    border-radius: 32px;
    margin-top: 16px;
    transition: all 0.3s ease;
    color: darkslategray;
  }
  .my-form-button:hover {
    background-color: rgb(102 116 204 );
    color: #fff;
  }
  .input-wrapper {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 8px;
  }
  .input-field {
    font-size: 24px;
    padding: 6px 0;
    padding-right: 32px;
    height: 40px;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 3px solid #000;
    transition: border-color 0.2s;
  }
  .input-field::placeholder {
    font-weight: 400;
    font-size:medium;
    color:rgb(213, 211, 211);
  }
  .input-label {
     position: absolute;
    top: 2px;
    font-size: 1.2rem;
    color: #000;
    transition: 0.3s; 
    user-select: none;
  }
  .input-field:focus {
    border-bottom: 3px solid crimson;
  }
  .input-field:focus ~ .input-label {
    color: crimson;
  }
  .social-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  
  .social-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 10rem;
    width: 100%;
    padding:10px;
    transition: background 0.3s ease;
  }
  .social-row a:hover { 
    background-color: rgb(102 116 204 );
    color: #fff;
  }
  .my-form-actions {
    display: flex;
    justify-content:center;
  }